<Project>
  <PropertyGroup>
    <TargetFramework>${target_framework}</TargetFramework>
    <LangVersion>latest</LangVersion>
    <Nullable>enable</Nullable>
    <ImplicitUsings>enable</ImplicitUsings>
    <TreatWarningsAsErrors>true</TreatWarningsAsErrors>
    <AnalysisLevel>latest</AnalysisLevel>
    <EnableNETAnalyzers>true</EnableNETAnalyzers>
  </PropertyGroup>

  <PropertyGroup>
    <Authors>${author_name}</Authors>
    <Description>${description}</Description>
    <PackageLicenseExpression>${license}</PackageLicenseExpression>
  </PropertyGroup>
</Project>
