<?php

declare(strict_types=1);

namespace ${namespace};

final class Hello
{
    public const VERSION = '0.1.0';

    public function greet(string $target): string
    {
        return sprintf('hello from %s, %s', '${name}', $target);
    }
}
