require:
  - rubocop-rspec

AllCops:
  TargetRubyVersion: ${ruby_version}
  NewCops: enable
  SuggestExtensions: false

Style/StringLiterals:
  EnforcedStyle: single_quotes

Layout/LineLength:
  Max: 100
