require_relative 'lib/${name}/version'

Gem::Specification.new do |spec|
  spec.name        = '${name}'
  spec.version     = ${module}::VERSION
  spec.authors     = ['${author_name}']
  spec.email       = ['${author_email}']
  spec.summary     = '${description}'
  spec.description = '${description}'
  spec.license     = '${license}'
  spec.required_ruby_version = ">= ${ruby_version}"

  spec.files = Dir['lib/**/*.rb', 'README.md', 'LICENSE', 'CHANGELOG.md']
  spec.require_paths = ['lib']

  spec.metadata = {
    'rubygems_mfa_required' => 'true'
  }
end
